@charset "utf-8";

/* base valiables */

$font-primary: latoregular, 'Helvetica Neue', Arial, sans-serif;

$font-html: 62.5%;
$clr-main: #4e4e50;
$clr-primary: #ffc80b;
$clr-white: #fff;
$clr-blue: #0772ba;

$screen-sp: 768px;

$min_width: 320px;
$max_width: 768px;